<div class="rightOptions">
  <div class="page" size="A4" id="content" #content>
    <div class="wrapper" *ngIf="editdata">
      <div class="five">
        <div class="invoiceHeader">
          <h2><b>Faktura</b></h2>
          <h4>Nr: {{ editdata.invoiceNo }}</h4>
        </div>
      </div>
      <div class="one"></div>
      <div class="two">
        <div class="sideBySide2">
          <p style="width: 130px">Miejsce wystawienia:</p>
          <p style="width: 60px">Warszawa</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 130px">Data wystawienia:</p>
          <p style="width: 60px">03-03-2023</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 130px">Data wykonania uslugi:</p>
          <p style="width: 60px">03-03-2023</p>
        </div>
      </div>
      <div class="three">
        <h2 class="pborder">Sprzedawca</h2>
        <p>Uslugi Informatyczne Jan Nowak</p>
        <p>NIP: 716464892</p>
        <p>Kowal 12</p>
        <p>00-001 Warszawa</p>
      </div>
      <div class="four">
        <h2 class="pborder">Nabywca</h2>
        <p>Uslugi Informatyczne Jan Nowak</p>
        <p>NIP: 716464892</p>
        <p>Kowal 12</p>
        <p>00-001 Warszawa</p>
      </div>
      <div class="six">
        <table>
          <thead>
            <tr>
              <th scope="col">LP</th>
              <th scope="col">Nazwa towaru lub uslugi</th>
              <th scope="col">Jm.</th>
              <th scope="col">Ilosc</th>
              <th scope="col">Cena netto</th>
              <th scope="col">Warosc netto</th>
              <th scope="col">Stawka Vat</th>
              <th scope="col">Wartosc Vat</th>
              <th scope="col">Cena brutto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of editdata.products">
              <th>1</th>
              <td>{{ item.productName }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.nettoPrice | currency }}</td>
              <td>{{ item.nettoPrice * item.qty | currency }}</td>
              <td>{{ item.vat / 100 | percent }}</td>
              <td>
                {{ (item.nettoPrice * item.qty * item.vat) / 100 | currency }}
              </td>
              <td>
                {{
                  (item.nettoPrice * item.qty * item.vat) / 100 +
                    item.nettoPrice * item.qty | currency
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="extra">
        <table >
          <thead>
            <tr>
              <th scope="col">Razem</th>
              <th scope="col">X</th>
              <th scope="col">{{ totalNettoSum | currency }}</th>
              <th scope="col">{{ totalVatSum | currency }}</th>
              <th scope="col">{{ totalBruttoSum | currency }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of arrayGroupedProducts">
              <th></th>
              <th>{{ entry[0] / 100 | percent }}</th>
              <th>{{ entry[1].nettoSum | currency }}</th>
              <th>{{ entry[1].vatSum | currency }}</th>
              <th>{{ entry[1].bruttoSum | currency }}</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="six">
        <div class="sideBySide2">
          <p style="width: 100px">Razem</p>
          <p >{{ totalBruttoSum | currency }}</p>
          <p style="width: 60px;margin-left: 20px;">Slownie:</p>
          <p>Tysiac dwiescie czterdziesci dwa 10/100 PLN</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">Do zaplaty</p>
          <p style="font-weight: bold;margin-bottom: 20px;">{{ totalBruttoSum | currency }}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">Forma platnosc:</p>
          <p>Przelew</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">Termin zaplaty:</p>
          <p>05-03-2023</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">Numer konta:</p>
          <p>49 1020 2892 2276 3005 0000 0000</p>
        </div>
      </div>
      <div class="nine">
        <div class="signature">
          <p>Podpis osoby upowaznionej do wystawienia</p>
        </div>
      </div>
      <div class="ten">
        <div class="signature">
          <p>Podpis osoby upowaznionej do odbioru</p>
        </div>
      </div>
    </div>
  </div>
  <div class="download">
    <a (click)="makePdf()" mat-raised-button color="primary">Download</a>
  </div>
</div>
