<div class="containerpopup">
    <mat-card>
        <mat-card-header>
            <h1><b>{{header}}</b></h1>
            <p>{{someInfo}}</p>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="callParentFunction()">
                <div *ngFor="let field of fields">
                    <app-form-field [form]="form" [label]="field.label" [controlName]="field.controlName"
                        [cssClass]="field.cssClass" [type]="field.type">
                    </app-form-field>
                </div>
                <div class="form-submit">
                    <button mat-raised-button color="primary">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>