<div class="rightOptions" *transloco="let t">
  <div class="page" size="A4" id="content" #content>
    <div class="wrapper" *ngIf="editData">
      <div class="five">
        <div class="invoiceHeader">
          <h2><b>{{t('printProform.proform')}}</b></h2>
          <h4>{{ editData.proformaNo }}</h4>
        </div>
      </div>
      <div class="one"></div>
      <div class="two">
        <div class="sideBySide2">
          <p style="width: 130px">{{t('invoiceForm.placeOfIssue')}}</p>
          <p style="width: 60px">{{ editData.placeOfIssue }}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 130px">{{t('invoiceForm.dateIssued')}}</p>
          <p style="width: 60px">{{ editData.dateIssued }}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 130px">{{t('invoiceForm.dueDate')}}</p>
          <p style="width: 60px">{{editData.dueDate}}</p>
        </div>
      </div>
      <div class="three">
        <h2 class="pborder">{{t('printInvoice.seller')}}</h2>
        <p>{{ editData.sellerIdName }}</p>
        <p>NIP: {{ editData.sellerNip }}</p>
        <p>{{ editData.sellerDeliveryAddress }}</p>
        <p>{{ editData.sellerCityCode }}</p>
      </div>
      <div class="four">
        <h2 class="pborder">{{t('printInvoice.customer')}}</h2>
        <p>{{ editData.customerName }}</p>
        <p>NIP: {{ editData.customerNip }}</p>
        <p>{{ editData.customerDeliveryAddress }}</p>
        <p>{{ editData.customerCityCode }}</p>
      </div>
      <div class="six">
        <table>
          <thead>
            <tr>
              <th style="border-left: 1px solid black">LP</th>
              <th>{{t('invoiceForm.name')}}</th>
              <th>{{t('invoiceForm.unit')}}</th>
              <th>{{t('invoiceForm.quantity')}}</th>
              <th>{{t('invoiceForm.netto')}}</th>
              <th>{{t('invoiceForm.netTotal')}}</th>
              <th>{{t('invoiceForm.vat')}}</th>
              <th>{{t('invoiceForm.tax')}}</th>
              <th>{{t('invoiceForm.total')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of editData.products">
              <td style="border-left: 1px solid black">1</td>
              <td>{{ item.productName }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.qty }}</td>
              <td>
                {{ item.salesPrice | currency : " " : "symbol" : "1.2-2" }}
              </td>
              <td>{{ item.vat / 100 | percent }}</td>
              <td>
                {{
                item.salesPrice * item.qty
                | currency : " " : "symbol" : "1.2-2"
                }}
              </td>
              <td>
                {{
                (item.salesPrice * item.qty * item.vat) / 100
                | currency : " " : "symbol" : "1.2-2"
                }}
              </td>
              <td>
                {{
                (item.salesPrice * item.qty * item.vat) / 100 +
                item.salesPrice * item.qty
                | currency : " " : "symbol" : "1.2-2"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="extra">
        <table style="float: right">
          <thead>
            <tr>
              <th style="border-left: 1px solid black">{{t('printInvoice.total')}}</th>
              <th>X</th>
              <th>{{ totalNettoSum | currency : " " : "symbol" : "1.2-2" }}</th>
              <th>{{ totalVatSum | currency : " " : "symbol" : "1.2-2" }}</th>
              <th>
                {{ totalBruttoSum | currency : " " : "symbol" : "1.2-2" }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of arrayGroupedProducts">
              <td style="border-left: 1px solid black"></td>
              <td>{{ entry[0] / 100 | percent }}</td>
              <td>
                {{ entry[1].nettoSum | currency : " " : "symbol" : "1.2-2" }}
              </td>
              <td>
                {{ entry[1].vatSum | currency : " " : "symbol" : "1.2-2" }}
              </td>
              <td>
                {{ entry[1].bruttoSum | currency : " " : "symbol" : "1.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="six">
        <div class="sideBySide2">
          <p style="width: 100px">{{t('printInvoice.total')}}</p>
          <p>{{ totalBruttoSum | currency : " " : "symbol" : "1.2-2" }}</p>
          <p style="width: 60px; margin-left: 20px">{{t('printInvoice.inLetters')}}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">{{t('printProform.toPay')}}</p>
          <p style="font-weight: bold; margin-bottom: 20px">
            {{ totalBruttoSum | currency : " " : "symbol" : "1.2-2" }}
          </p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">{{t('invoiceForm.paymentType')}}:</p>
          <p>{{ editData.paymentType }}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">{{t('invoiceForm.paymentStatus')}}</p>
          <p>{{ editData.paymentStatus }}</p>
        </div>
        <div class="sideBySide2">
          <p style="width: 100px">{{t('invoiceForm.accountNumber')}}</p>
          <p>{{ editData.accountNumber }}</p>
        </div>
      </div>
      <div class="nine">
        <div class="signature">
          <p>{{t('printInvoice.signSeller')}}</p>
        </div>
      </div>
      <div class="ten">
        <div class="signature">
          <p>{{t('printInvoice.signCustomer')}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="download">
    <a (click)="makePdf()" mat-raised-button color="primary">{{t('buttons.download')}}</a>
  </div>
</div>