<div class="container">
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
      <p class="breadcrumb-p">> Review</p>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="dataSource.data.length !== 0">
    <div class="mat-card-header-filter">
      <h2>Paid invoices</h2>
      <mat-form-field appearance="outline">
        <mat-label>Filter paid</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. customer" #input />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-card-content>
      <div class="">
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="Invoice No">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let element">{{ element.invoiceNo }} {{element.proformaNo}}</td>
          </ng-container>
          <ng-container matColumnDef="Customer">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">{{ element.customerName }}, {{ element.customerDeliveryAddress }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Brutto total</th>
            <td mat-cell *matCellDef="let element">{{ element.total | currency }}</td>
          </ng-container>
          <ng-container matColumnDef="DueDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Due date</th>
            <td mat-cell *matCellDef="let element">{{ element.dueDate }}</td>
          </ng-container>
          <ng-container matColumnDef="DateIssued">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Issued date</th>
            <td mat-cell *matCellDef="let element">{{ element.dateIssued }}</td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.invoiceId  && element.isGenerated" mat-icon-button (click)="downloadInvoice(element.invoiceId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a *ngIf="element.proformaId  && element.isGenerated" mat-icon-button (click)="ProformaDownload(element.proformaId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.invoiceId && !element.isGenerated" (click)="editInvoice(element.invoiceId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.proformaId && !element.isGenerated" (click)="ProformaEdit(element.proformaId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              
              <a mat-icon-button *ngIf="element.invoiceId"  (click)="removeInvoice(element.invoiceId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
              <a mat-icon-button  *ngIf="element.proformaId"  (click)="ProformaRemove(element.proformaId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator style="width: 100%" [pageSizeOptions]="[10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="dataSourceDelay.data.length !== 0">
    <div class="mat-card-header-filter">
      <h2>
        Delay invoices
      </h2>
      <mat-form-field appearance="outline">
        <mat-label>Filter delay</mat-label>
        <input matInput (keyup)="applyFilterDelay($event)" placeholder="Ex. customer" #input />
        <mat-icon matSuffix>search</mat-icon>

      </mat-form-field>
    </div>
    <mat-card-content>
      <div>
        <table mat-table matSort [dataSource]="dataSourceDelay">
          <ng-container matColumnDef="Invoice No">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Number
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceNo }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Customer">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerName }}, {{ element.customerDeliveryAddress }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Brutto total
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.total | currency }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DueDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Due date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dueDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DateIssued">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Issued date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateIssued }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.invoiceId  && element.isGenerated" mat-icon-button (click)="downloadInvoice(element.invoiceId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a *ngIf="element.proformaId  && element.isGenerated" mat-icon-button (click)="ProformaDownload(element.proformaId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.invoiceId && !element.isGenerated" (click)="editInvoice(element.invoiceId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.proformaId && !element.isGenerated" (click)="ProformaEdit(element.proformaId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              
              <a mat-icon-button *ngIf="element.invoiceId"  (click)="removeInvoice(element.invoiceId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
              <a mat-icon-button  *ngIf="element.proformaId"  (click)="ProformaRemove(element.proformaId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator style="width: 100%" [pageSizeOptions]="[10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="dataSourceDraft.data.length !== 0">
    <div class="mat-card-header-filter">
      <h2>
        Draft invoices
      </h2>
      <mat-form-field appearance="outline">
        <mat-label>Filter draft</mat-label>
        <input matInput (keyup)="applyFilterDraft($event)" placeholder="Ex. customer" #input />
        <mat-icon matSuffix>search</mat-icon>

      </mat-form-field>
    </div>
    <mat-card-content>
      <div>
        <table mat-table matSort [dataSource]="dataSourceDraft">
          <ng-container matColumnDef="Invoice No">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Number
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceNo }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Customer">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerName }}, {{ element.customerDeliveryAddress }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Brutto total
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.total | currency }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DueDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Due date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dueDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="DateIssued">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Issued date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateIssued }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a *ngIf="element.invoiceId  && element.isGenerated" mat-icon-button (click)="downloadInvoice(element.invoiceId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a *ngIf="element.proformaId  && element.isGenerated" mat-icon-button (click)="ProformaDownload(element.proformaId)"
                color="primary">
                <mat-icon>print</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.invoiceId && !element.isGenerated" (click)="editInvoice(element.invoiceId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button *ngIf="element.proformaId && !element.isGenerated" (click)="ProformaEdit(element.proformaId)" color="primary">
                <mat-icon>edit</mat-icon>
              </a>
              
              <a mat-icon-button *ngIf="element.invoiceId"  (click)="removeInvoice(element.invoiceId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
              <a mat-icon-button  *ngIf="element.proformaId"  (click)="ProformaRemove(element.proformaId)" color="warn">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator style="width: 100%" [pageSizeOptions]="[10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card
    *ngIf="dataSource.data.length === 0 && dataSourceDelay.data.length === 0 && dataSourceDraft.data.length === 0 ">
    <mat-card-content style="display: flex; justify-content:center; flex-direction:column; align-items:center;text-align:center; width:70%;margin:auto">
      <h2> Oto widok zbiorczej listy dokumentow wystawionych w systemie. </h2>
      <p>
        Na razie w tym miejscu nie ma jeszcze żadnych dokumentów.
        Ale nie martw się, nic straconego! To wspaniałe miejsce, gdzie możesz łatwo i szybko wystawić swoje pierwsze
        dokumenty!
        <br><br>
        Dlatego zacznijmy! Kliknij przycisk "Nowa faktura" lub "Nowa proforma" i stwórz swój pierwszy dokument.
        Wystawiaj faktury, twórz proformy, dodawaj szkice - wszystko w jednym miejscu! Z naszą pomocą będziesz miał
        więcej czasu na rozwijanie swojego biznesu, a mniej czasu na ręczne wystawianie faktur.
      </p>
    </mat-card-content>
  </mat-card>

</div>