<mat-card
  style="
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 40px 0;
    display: flex;
    align-items: center;
  "
>
  <h1>Build Your Profile</h1>
  <h3>This information will let us know more about you.</h3>
  <mat-stepper #stepper [orientation]="(stepperOrientation | async)!">
    <mat-step
      [stepControl]="registerForm"
      label="Personal info"
      errorMessage="Personal info is required."
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <h3>Let's start with the basic information</h3>
        <form [formGroup]="registerForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Edd" formControlName="username" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Edd" formControlName="email" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Template</mat-label>
            <input matInput formControlName="template" />
          </mat-form-field>
          <div style="width: 97%; display: flex; justify-content: end">
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step
      [stepControl]="companyForm"
      label="Company info"
      errorMessage="Company info is required."
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <h3>Tell us more about your company</h3>
        <form [formGroup]="companyForm">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Company name</mat-label>
            <input
              matInput
              placeholder="Company name"
              formControlName="name"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Company nip</mat-label>
            <input
              matInput
              placeholder="Company nip"
              formControlName="nip"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Company city</mat-label>
            <input
              matInput
              placeholder="Company city"
              formControlName="city"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Company city code</mat-label>
            <input
              matInput
              placeholder="Company city code"
              formControlName="cityCode"
              required
            />
          </mat-form-field>
          <div
            style="width: 97%; display: flex; justify-content: space-between"
          >
            <button mat-raised-button color="accent" matStepperPrevious>
              Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              Next
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Register">
      <div style="display: flex; flex-direction: column; align-items: center">
        <h3>Lets register</h3>
        <mat-card-content>
          <div
            style="width: 97%; display: flex; justify-content: space-between"
          >
            <button mat-raised-button color="accent" (click)="stepper.reset()">
              Reset
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="proceedRegistration()"
            >
              Register
            </button>
          </div>
        </mat-card-content>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
