<div class="containerpopup">

    <mat-card>
        <mat-card-header>
            <h1>Create Product</h1>
        </mat-card-header>
        <mat-card-content  >
            <form class="form middlerows" [formGroup]="createform" (ngSubmit)="saveProduct()" >
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Edd" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Price</mat-label>
                    <input matInput placeholder="Edd" formControlName="price">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>vat</mat-label>
                    <input matInput placeholder="Edd" formControlName="vat">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>qty</mat-label>
                    <input matInput placeholder="Edd" formControlName="qty">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>unit</mat-label>
                    <input matInput placeholder="Edd" formControlName="unit">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Category</mat-label>
                    <input matInput placeholder="Edd" formControlName="category">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Edd" formControlName="remarks">
                </mat-form-field>
                <div class="form-submit">
                    <button mat-raised-button color="primary">Save</button>
                    <a mat-dialog-close mat-raised-button color="accent">Close</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>