* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(./assets/fonts/arialuni.ttf) format("truetype");
}
html * {
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", Arial, Helvetica, sans-serif !important;
}
nav {
  display: flex;
  padding: 1%;
  min-height: 50px;
  max-height: 100px;

  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
  background-color: #edf1ee;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

  a {
    color: black;
    text-decoration: none;
    font-size: 34px;
    letter-spacing: 1px;
    margin-right: 100px;
  }
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  // text-align: right;

  ul li {
    list-style: none;
    display: inline-block;
    position: relative;

    a {
      color: black;
      text-decoration: none;
      font-size: 18px;
      margin-right: 40px;
    }
  }
}
.nav-links2 {
  display: none;
}


.nav-links ul li::after {
  content: "";
  width: 100%;
  height: 0px;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  color: #fff;
}

nav .fa {
  display: none;
  cursor: none;
}

.hide-icon {
  display: none !important;
  cursor: none;
}

@media (max-width: 850px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links {
    display: none;
  }
  .nav-links2 {
    display: block;
    flex-direction: column;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    background: #edf1ee;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: transform 1s ease-out;
    ul {
      margin-top: 100px;
    }
    ul li {
      display: block;
      padding: 20px;

      a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        margin-left: 20px;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-left: 20px;
      }
    }
  }

  nav .fa {
    display: block;
    color: #19352d;
    font-size: 22px;
    cursor: pointer;
  }
  .hide-icon {
    display: flex !important;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .hidemenu {
    right: -200px;
    display: none;
    transition: all 0.2s ease-in-out;
  }
}
.hero-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  padding: 0 38px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background-color: #29594b;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  padding: 14px 22px;
}

.hero-btn:hover {
  border: 1px solid #19352d;
  color: #19352d;
  background: transparent;
  transition: 1s;
}

// color:#116444;
@media (max-width: 850px) {
  .text-box h1 {
    font-size: 20px;
  }
}
.auth-middle {
  background-color: #edf1ee;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-card-header {
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 500;
      margin-bottom: 2%;
      font-size: 42px;
      color: #19352d;
    }

    h2 {
      margin: auto;
      margin-bottom: 2%;
      font-weight: 400;
      font-size: 20px;
    }
  }
}
.auth-card {
  width: 600px;
  margin: auto;
  display: flex;
  height: 60vh;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.auth-card-register {
  width: 800px;
  height: 60vh;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.auth-card-form {
  display: flex;
}
@media (max-width: 850px) {
  .auth-card {
    width: 400px;
    height: 100%;

  }
  .auth-card-register {
    min-height: 80vh;
    height: 100%;
    margin: 20px 0;
    // height: 100%;
  }
  .auth-card-form {
    flex-wrap: wrap;
  }
  .auth-middle {
    .auth-card-header {
      h1 {
        font-weight: 500;
        font-size: 26px;
        color: #19352d;
      }

      h2 {
        margin: auto;
        margin-bottom: 2%;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
.auth-card-content {
  button {
    font-weight: 700;
    font-size: 18px;
    // padding: 0 38px;
    width: 100%;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    background-color: #29594b;
    border: 1px solid black;
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    padding: 14px 22px;
    cursor: pointer;
  }

  button:hover {
    border: 1px solid black;
    color: black;
    background: transparent;
    transition: 1s;
    background-color: #fff;
  }
}
.auth-card-header {
  margin-bottom: 10px;
  h1 {
    font-weight: 400;
    padding: 10px;
    margin: auto;
  }
}
