@use "@angular/material" as mat;
@import "@angular/material/theming";
@import "toaster";
@import "pages";

@include mat.core();

$dark-navy-green-palette: (
  50: #19352d,
  100: #19352d,
  200: #19352d,
  300: #19352d,
  400: #19352d,
  500: #19352d,
  600: #19352d,
  700: #19352d,
  800: #19352d,
  900: #19352d,
  A100: #19352d,
  A200: #19352d,
  A400: #19352d,
  A700: #19352d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);
$bright-navy-green-palette: (
  50: #145a46,
  100: #145a46,
  200: #145a46,
  300: #145a46,
  400: #145a46,
  500: #145a46,
  600: #145a46,
  700: #145a46,
  800: #145a46,
  900: #145a46,
  A100: #145a46,
  A200: #145a46,
  A400: #145a46,
  A700: #145a46,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: black,
    A700: black,
  ),
);

$crimson-palette: (
  50: #ffebef,
  100: #ffcdc5,
  200: #f0999f,
  300: #e77179,
  400: #f24e58,
  500: #f83a40,
  600: #e9313e,
  700: #d72638,
  800: #ca1e30,
  900: #bb0d24,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);
$greeny-primary-dark: mat.define-palette(
  $dark-navy-green-palette,
  700,
  300,
  900
);
$greeny-accent-dark: mat.define-palette(
  $dark-navy-green-palette,
  300,
  100,
  500
);
$greeny-warn-dark: mat.define-palette($crimson-palette, 700);
$greeny-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $greeny-primary-dark,
      accent: $greeny-accent-dark,
      warn: $greeny-warn-dark,
    ),
  )
);
$greeny-primary: mat.define-palette($bright-navy-green-palette, 700, 300, 900);
$greeny-accent: mat.define-palette($bright-navy-green-palette, 300, 100, 500);
$greeny-warn: mat.define-palette($crimson-palette, 700);
$greeny-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $greeny-primary,
      accent: $greeny-accent,
      warn: $greeny-warn,
    ),
  )
);
@include mat.all-component-themes($greeny-theme-light);

.darkMode {
  @include mat.all-component-colors($greeny-theme-dark);
}

html,
body {
  height: 100%;
}
html * {
  // font-family: 'Courier New', Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
body {
  margin: 0;
}


.container {
  margin: auto;
  max-width: 1500px;
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  min-height: 1.5vh;
}

.title {
  font-size: 44px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.middlerows {
  display: flex;
  flex-direction: column;
  width: 100%;
  // justify-content: space-between;

  // align-items: center;
  // text-align: left;
  // background-color: red;
}
.middlerows2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.containerpopup {
  margin: auto;
  mat-card {
    padding: 10px 20px;
  }
  mat-card-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}

.itemCompleted {
  color: purple;
  text-decoration: line-through;
}

mat-card {
  padding: 0px;
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 65%;
}
.less-half-width {
  width: 100%;
}
.form-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 600px) {
  mat-card {
    padding: 0px;
  }
}

.breadcrumb-header {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 200 !important;
  font-size: 26px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;

  b {
    font-weight: 700 !important;
    font-size: 38px;
    letter-spacing: 1px;
  }
}

.breadcrumb {
  margin: 10px 0 10px 0 !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;

  .card {
    display: flex;
    align-items: center;
  }

  .middle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    padding: 0 !important;
  }
}

.breadcrumb-p {
  font-size: 18px;
  margin: 0 1px !important;
  padding: 0 !important;
}
.mat-card-header-filter {
  display: flex !important;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  text-align: center;
}
/////////////////////sidebars
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.show {
  display: none;
  visibility: hidden;
}
.example-spacer {
  flex: 1 1 auto;
}

.nav-list-elem {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;

  .nav-list-elem-middle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 !important;
  }
  p {
    font-size: 18px;
    margin: 0 8px !important;
    padding: 0 !important;
  }
}
mat-icon {
  cursor: pointer;
}
