@use "@angular/material" as mat;
@import "@angular/material/theming";
@include mat.core();
// light
// $angular-primary-light: mat.define-palette(mat.$teal-palette);
$angular-primary-light: mat.define-palette(mat.$blue-grey-palette);
$angular-accent-light: mat.define-palette(mat.$green-palette);
$angular-warn-light: mat.define-palette(mat.$pink-palette);
// dark
$angular-primary-dark: mat.define-palette(mat.$blue-grey-palette);
$angular-accent-dark: mat.define-palette(mat.$purple-palette);
$angular-warn-dark: mat.define-palette(mat.$pink-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary-light,
      accent: $angular-accent-light,
      warn: $angular-warn-light,
    ),
  )
);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary-dark,
      accent: $angular-accent-dark,
      warn: $angular-warn-dark,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html,
body {
  height: 100%;
}
html * {
  // font-family: 'Courier New', Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
body {
  margin: 0;
}

@import "toaster";
@import "pages";

.container {
  margin: auto;
  max-width: 1500px;
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  min-height: 1.5vh;
}

.title {
  font-size: 44px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.middlerows {
  display: flex;
  flex-direction: column;
  width: 100%;
  // justify-content: space-between;

  // align-items: center;
  // text-align: left;
  // background-color: red;
}
.middlerows2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.containerpopup {
  margin: auto;
  mat-card {
    padding: 10px 20px;
  }
  mat-card-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}

.itemCompleted {
  color: purple;
  text-decoration: line-through;
}

mat-card {
  padding: 0px;
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 65%;
}
.less-half-width {
  width: 100%;
}
.form-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 1500px) {
  .container {
    // width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    // width: 95%;
    // margin-top: 20px;
  }

  mat-card {
    padding: 0px;
  }
}

.breadcrumb-header {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 200 !important;
  font-size: 26px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;

  b {
    font-weight: 700 !important;
    font-size: 38px;
    letter-spacing: 1px;
  }
}

.breadcrumb {
  margin: 10px 0 10px 0 !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;

  .card {
    display: flex;
    align-items: center;
  }

  .middle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    padding: 0 !important;
  }
}

.breadcrumb-p {
  font-size: 18px;
  margin: 0 1px !important;
  padding: 0 !important;
}
.mat-card-header-filter {
  display: flex !important;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.inputForm {
  background-color: blue;
  color: red;
  width: 100%;
}
/////////////////////sidebars
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.show {
  display: none;
  visibility: hidden;
}
.example-spacer {
  flex: 1 1 auto;
}

.nav-list-elem {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;

  .nav-list-elem-middle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 !important;
  }
  p {
    font-size: 18px;
    margin: 0 8px !important;
    padding: 0 !important;
  }
}
mat-icon {
  cursor: pointer;
}
.hi {
  font-size: 18px;
  font-weight: 400;
  // margin: 0;
  // padding: 0 5px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.hi-rocket {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
  height: 50px;
}

