<div class="container">
  <h1 class="breadcrumb-header">{{ pageTitle }}</h1>
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
      <p class="breadcrumb-p middle" [routerLink]="['/invoice-list']">
        /Invoices
      </p>
      <p class="breadcrumb-p">/Invoice</p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="invoiceForm" (ngSubmit)="SaveInvoice()">
        <!-- Header -->
        <mat-grid-list
          [cols]="breakpoint4"
          (window:resize)="onResize($event)"
          rowHeight="70px"
          style=""
        >
          <mat-grid-tile>
            <mat-form-field
              class="custom-form-field"
              appearance="outline"
              class="full-width"
            >
              <mat-label>Upload Logo</mat-label>
              <input
                matInput
                placeholder="Upload Logo"
                formControlName="invoiceNo"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Place of issue</mat-label>
              <input
                matInput
                placeholder="Place of issue"
                formControlName="placeOfIssue"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>date Issued</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="dateIssued"
              />
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>due Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="dueDate"
              />
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- <hr> -->
        <!-- Contractor/Owner -->
        <mat-grid-list
          [cols]="breakpoint2"
          (window:resize)="onResize($event)"
          rowHeight="300px"
          style=""
        >
          <mat-grid-tile>
            <div class="middlerows">
              <div style="text-align: left" class="half-width">
                <h2>Seller</h2>
              </div>
              <!-- <mat-form-field appearance="outline" class="half-width">
                                <mat-select formControlName="sellerId" placeholder="Seller Id">
                                    <mat-option *ngFor="let item of getCustomer" [value]="item.code">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Seller NIP</mat-label>
                <input
                  matInput
                  placeholder="Seller NIP"
                  formControlName="sellerNip"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Seller Address</mat-label>
                <input
                  matInput
                  placeholder="Seller Address"
                  formControlName="sellerDeliveryAddress"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Seller City/ Code</mat-label>
                <input
                  matInput
                  placeholder="Seller City/ Code"
                  formControlName="sellerCityCode"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="middlerows">
              <div style="text-align: left" class="half-width">
                <h2>Customer</h2>
              </div>
              <mat-form-field appearance="outline" class="half-width">
                <mat-select
                  (selectionChange)="CustomerChange()"
                  formControlName="customerName"
                  placeholder="Customer Name"
                >
                  <mat-option
                    *ngFor="let item of getCustomer"
                    [value]="item.customerName"
                  >
                    {{ item.customerName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Customer Name</mat-label>
                <input
                  matInput
                  placeholder="Customer Name"
                  formControlName="customerName"
                />
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" class="half-width">
                                    <mat-label>Customer Id</mat-label>
                                    <input matInput placeholder="Customer Id" formControlName="customerId">
                                </mat-form-field> -->
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Customer NIP</mat-label>
                <input
                  matInput
                  placeholder="Customer NIP"
                  formControlName="customerNip"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="half-width">
                <mat-label>Customer Address</mat-label>
                <input
                  matInput
                  placeholder="Customer Address"
                  formControlName="customerDeliveryAddress"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Table of products -->
        <mat-card style="margin: 10px 0 30px 0; padding: 1px">
          <h2
            color="accent"
            style="padding: 0px; margin: 0px; padding-left: 10px"
          >
            Invoice product
          </h2>
          <mat-grid-list
            [cols]="breakpoint9"
            (window:resize)="onResize($event)"
            rowHeight="35px"
          >
            <!-- <mat-grid-tile>
                            <h4 style="padding: 0; margin:0;">Code</h4>
                        </mat-grid-tile> -->
            <mat-grid-tile [colspan]="colspan3">
              <h4 style="padding: 0; margin: 0">Name</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Quantity</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Unit</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Price</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Vat</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Brutto</h4>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4 style="padding: 0; margin: 0">Netto</h4>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
                            <h4 style="padding: 0; margin:0;"></h4>
                        </mat-grid-tile> -->
          </mat-grid-list>

          <div class="add-products-form" [formGroup]="invoiceForm">
            <ng-container formArrayName="products">
              <ng-container
                *ngFor="let detailForm of products.controls; let i = index"
              >
                <div [formGroupName]="i">
                  <mat-grid-list
                    [cols]="breakpoint9"
                    (window:resize)="onResize($event)"
                    rowHeight="65px"
                  >
                    <mat-grid-tile [colspan]="colspan3">
                      <mat-form-field appearance="outline">
                        <mat-select
                          (selectionChange)="ProductChange(i)"
                          formControlName="productName"
                          placeholder="Name"
                        >
                          <mat-option
                            *ngFor="let item of getProduct"
                            [value]="item.name"
                          >
                            {{ item.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-grid-tile>
                    <!-- <mat-grid-tile [colspan]="colspan3">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <input matInput formControlName="productName" placeholder="Name">
                                            </mat-form-field>
                                        </mat-grid-tile> -->
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          type="number"
                          (change)="ItemCalculation(i)"
                          matInput
                          formControlName="qty"
                          placeholder="qty"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          (change)="ItemCalculation(i)"
                          matInput
                          formControlName="unit"
                          placeholder="Unit"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          type="number"
                          (change)="ItemCalculation(i)"
                          matInput
                          formControlName="salesPrice"
                          placeholder="salesPrice"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          type="number"
                          (change)="ItemCalculation(i)"
                          matInput
                          formControlName="vat"
                          placeholder="Vat"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          matInput
                          formControlName="bruttoPrice"
                          placeholder="Brutto Price"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <input
                          type="number"
                          matInput
                          formControlName="nettoPrice"
                          placeholder="Netto Price"
                        />
                      </mat-form-field>
                      <mat-icon
                        color="accent"
                        style="
                          position: absolute;
                          right: 0;
                          top: 10px;
                          cursor: pointer;
                        "
                        class="delete-btn"
                        (click)="deletePProduct(i)"
                      >
                        delete_forever</mat-icon
                      >
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <a
            mat-mini-fab
            (click)="addProduct()"
            color="primary"
            style="position: absolute; bottom: -30px"
          >
            <mat-icon class="add-course-btn">add</mat-icon>
          </a>
        </mat-card>

        <mat-grid-list
          [cols]="breakpoint2"
          (window:resize)="onResize($event)"
          rowHeight="70px"
        >
          <mat-grid-tile style="width: 0; height: 0">
            <!-- <mat-form-field appearance="outline">
                            <mat-select formControlName="isGenerated" placeholder="Status">
                                <mat-option [value]="true">Wystawiona</mat-option>
                                <mat-option [value]="false">Nie wystawiona</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="paymentStatus" placeholder="Payment status">
                                <mat-option *ngFor="let item of paymentStatus" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" >
                            <mat-select formControlName="paymentType" placeholder="Payment type">
                                <mat-option *ngFor="let item of paymentType" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Summary Total</mat-label>
              <input
                matInput
                placeholder="Summary Total"
                formControlName="total"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Summary Tax</mat-label>
              <input matInput placeholder="Summary Tax" formControlName="tax" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Summary NetTotal</mat-label>
              <input
                matInput
                placeholder="Summary NetTotal"
                formControlName="netTotal"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Payments -->
        <mat-grid-list
          [cols]="breakpoint3"
          (window:resize)="onResize($event)"
          rowHeight="70px"
        >
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select formControlName="isGenerated" placeholder="Status">
                <mat-option [value]="true">Wystawiona</mat-option>
                <mat-option [value]="false">Nie wystawiona</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select
                formControlName="paymentStatus"
                placeholder="Payment status"
              >
                <mat-option *ngFor="let item of paymentStatus" [value]="item"
                  >{{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select
                formControlName="paymentType"
                placeholder="Payment type"
              >
                <mat-option *ngFor="let item of paymentType" [value]="item"
                  >{{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Details -->
        <mat-grid-list
          [cols]="breakpoint2"
          (window:resize)="onResize($event)"
          rowHeight="70px"
        >
          <mat-grid-tile>
            <div class="middlerows">
              <!-- <mat-form-field appearance="outline" class="full-width">
                                <mat-select formControlName="paymentStatus" placeholder="Payment status">
                                    <mat-option *ngFor="let item of paymentStatus" [value]="item">{{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Account Number</mat-label>
                <input
                  matInput
                  placeholder="Account Number"
                  formControlName="accountNumber"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="middlerows">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Payment Description</mat-label>
                <input
                  matInput
                  placeholder="Account Number"
                  formControlName="paymentDescription"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- //////////// -->

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="Remarks" formControlName="remarks" />
        </mat-form-field>

        <div class="form-submit">
          <!-- <a routerLink="/invoice-list" mat-raised-button color="accent">Back</a> -->
          <!-- <mat-checkbox formControlName="isGenerated" color="primary">
                        Do you want to generate invoice number?
                    </mat-checkbox> -->

          <button mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
