<!-- <a (click)="makePdf()" mat-raised-button color="primary">pdf</a> -->

<div class="container">
    <h1 class="title">{{pageTitle}}</h1>
    <mat-card>
        <mat-card-content>
            <form class="form" [formGroup]="invoiceForm" (ngSubmit)="SaveInvoice()">
                <!-- Header -->
                <mat-grid-list [cols]="breakpoint2" (window:resize)="onResize($event)" rowHeight="170px">
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field class="custom-form-field" appearance="outline" class="full-width">
                                <mat-label>Upload Logo</mat-label>
                                <input matInput placeholder="Upload Logo" formControlName="invoiceNo">
                            </mat-form-field>
                            <!-- *ngIf="isGeneratedShow"  -->
                            <!-- <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>Invoice No</mat-label>
                                <input matInput placeholder="Invoice No" formControlName="invoiceNo">
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Place of issue</mat-label>
                                <input matInput placeholder="Place of issue" formControlName="placeOfIssue">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Date Issued</mat-label>
                                <input type="date" matInput placeholder="Date Issued" formControlName="dateIssued">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Due Date</mat-label>
                                <input type="date" matInput placeholder="Due Date" formControlName="dueDate">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <!-- <mat-grid-tile>
                        <div class="middlerows">
                            <mat-checkbox formControlName="isGenerated" color="primary">
                                Do you want to generate invoice number?
                            </mat-checkbox>
                        </div>
                    </mat-grid-tile> -->
                </mat-grid-list>
                <hr>
                <!-- Contractor/Owner -->
                <mat-grid-list [cols]="breakpoint2" (window:resize)="onResize($event)" rowHeight="320px">
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-select formControlName="sellerId" placeholder="Seller Id">
                                    <mat-option *ngFor="let item of getCustomer" [value]="item.code">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Seller NIP</mat-label>
                                <input matInput placeholder="Seller NIP" formControlName="sellerNip">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Seller Address</mat-label>
                                <input matInput placeholder="Seller Address" formControlName="sellerDeliveryAddress">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Seller City/ Code</mat-label>
                                <input matInput placeholder="Seller City/ Code" formControlName="sellerCityCode">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-select (selectionChange)="CustomerChange()" formControlName="customerId"
                                    placeholder="Customer Id">
                                    <mat-option *ngFor="let item of getCustomer" [value]="item.code">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Customer NIP</mat-label>
                                <input matInput placeholder="Customer NIP" formControlName="customerNip">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Customer Address</mat-label>
                                <input matInput placeholder="Customer Address"
                                    formControlName="customerDeliveryAddress">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="half-width">
                                <mat-label>Customer City/ Code</mat-label>
                                <input matInput placeholder="Customer City/ Code" formControlName="customerCityCode">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Table of products -->
                <mat-grid-list style="background-color: #eaedf1; border-radius: 10px;" [cols]="breakpoint9"
                    (window:resize)="onResize($event)" rowHeight="60px">
                    <mat-grid-tile>
                        <h4>Product Code</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Product Name</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Quantity</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Unit</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Sales Price</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Vat</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Brutto Price</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Netto Price</h4>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <h4>Action</h4>
                    </mat-grid-tile>
                </mat-grid-list>

                <div class="add-products-form" [formGroup]="invoiceForm">
                    <ng-container formArrayName="details">
                        <ng-container *ngFor="let detailForm of details.controls; let i = index">
                            <div [formGroupName]="i">
                                <mat-grid-list [cols]="breakpoint9" (window:resize)="onResize($event)" rowHeight="90px">
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <mat-select (selectionChange)="ProductChange(i)"
                                                formControlName="productCode" placeholder="Pr. Code">
                                                <mat-option *ngFor="let item of getProduct" [value]="item.code">
                                                    {{item.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="productName" placeholder="Pr. Name">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input type="number" (change)="ItemCalculation(i)" matInput
                                                formControlName="qty" placeholder="qty">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input (change)="ItemCalculation(i)" matInput formControlName="unit"
                                                placeholder="Unit">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input type="number" (change)="ItemCalculation(i)" matInput
                                                formControlName="salesPrice" placeholder="salesPrice">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input type="number" (change)="ItemCalculation(i)" matInput
                                                formControlName="vat" placeholder="Vat">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="bruttoPrice" placeholder="Brutto Price">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field appearance="outline">
                                            <input type="number" matInput formControlName="nettoPrice"
                                                placeholder="Netto Price">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-icon class="delete-btn" (click)="deletePProduct(i)">
                                            delete_forever</mat-icon>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </ng-container>
                    </ng-container>

                </div>
                <a mat-mini-fab (click)="addProduct()">
                    <mat-icon class="add-course-btn">add</mat-icon>
                </a>
                <mat-grid-list [cols]="breakpoint3" (window:resize)="onResize($event)" rowHeight="100px">
                    <mat-grid-tile>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Summary Total</mat-label>
                            <input matInput placeholder="Summary Total" formControlName="total">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Summary Tax</mat-label>
                            <input matInput placeholder="Summary Tax" formControlName="tax">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Summary NetTotal</mat-label>
                            <input matInput placeholder="Summary NetTotal" formControlName="netTotal">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Details -->
                <mat-grid-list [cols]="breakpoint2" (window:resize)="onResize($event)" rowHeight="170px">
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payment status</mat-label>
                                <input matInput placeholder="Payment status" formControlName="paymentStatus">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payment type</mat-label>
                                <input matInput placeholder="Payment type" formControlName="paymentType">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="middlerows">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Account Number</mat-label>
                                <input matInput placeholder="Account Number" formControlName="accountNumber">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payment Description</mat-label>
                                <input matInput placeholder="Account Number" formControlName="paymentDescription">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- //////////// -->

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Remarks</mat-label>
                    <input matInput placeholder="Remarks" formControlName="remarks">
                </mat-form-field>

                <div class="form-submit">
                    <a routerLink="/invoice-list" mat-raised-button color="accent">Back</a>
                    <mat-checkbox formControlName="isGenerated" color="primary">
                        Do you want to generate invoice number?
                    </mat-checkbox>
                    <button mat-raised-button color="primary">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>