<div *transloco="let t">
    <section class="text-box-section">
        <div class="text-box">
            <h1> Whoooops</h1>
            <h2>
                404 - This page got lost in conversation.
            </h2>
            <div style="display: flex; justify-content: center; margin-top: 20px">
                <!-- <p style="margin-right: 5px"> Not to worry. You cam head over to our</p>
                <a routerLink="/welcome" style="color: #19352d; text-decoration: none">
                    homepage</a>
                <p style="margin-right: 5px">, or chcek out some contnt.</p> -->

            </div>
        </div>
    </section>
</div>