<div class="container">
  <!-- <app-breadcrumb headerDetail="Proforma List" link="/create-proforma" [isAddButton]="true" ></app-breadcrumb> -->
  <app-breadcrumb headerDetail="Proforma List" (callParent)="addProforma()"></app-breadcrumb>
  <mat-card>
    <app-tableheader header="Proformas" searchPlaceholder="Ex. proforma" (callParent)="applyFilter($event)">
    </app-tableheader>
    <app-tablecontent [dataSource]="dataSource" [columns]="columns" [actionButtons]="actionButtons"
      [displayedColumns]="displayedColumns"></app-tablecontent>
  </mat-card>
</div>