<div class="container" *transloco="let t">
   <app-breadcrumb [headerDetail]="t('breadcrumb.proformas')" (callParent)="addProforma()"></app-breadcrumb>
  <mat-card>
    <app-tableheader [header]="t('breadcrumb.proformas')" [searchPlaceholder]="t('breadcrumb.search')" (callParent)="applyFilter($event)">
    </app-tableheader>
    <app-tablecontent [dataSource]="dataSource" [columns]="columns" [actionButtons]="actionButtons"
      [displayedColumns]="displayedColumns"></app-tablecontent>
  </mat-card>
</div>