<div class="container">
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
    </mat-card-actions>
  </mat-card>
  <div class="container2">
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Invoice List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>All invoices issued in the system</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/invoice-list']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Invoices
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Proforma List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>All proformas issued in the system</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/proforma-list']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Product List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>All products</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/product-list']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Customer List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>All customers</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/create-invoice']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Co workers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>All users</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/user-list']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Invoices review</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Summarize all invoices status</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/invoice-review']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Dashboard</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Check your company health with charts</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/dashboard']" mat-raised-button color="primary">
          <mat-icon>open_in_new</mat-icon>
          Navigate
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
