<div class="container">
  <h1 class="breadcrumb-header"><b>Home</b> welcome to the system</h1>
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
    </mat-card-actions>
  </mat-card>
  <div class="container2">
    <mat-card class="example-card-long">
      <mat-card-header>
        <mat-card-title>Seller invoice</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-list-item
          routerLink="invoice-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Invoices</a
        >
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Proforma invoice</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-list-item
          routerLink="proforma-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Proformas</a
        >
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Products</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-list-item
          routerLink="product-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Products</a
        >
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Customers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-list-item
          routerLink="product-list"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Customers</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
