table {
    overflow: scroll;
  
  }
  
  
  .table-container {
    height:400px;
    width:900px;
    overflow:scroll;
  }
  
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  td.mat-column-star {
    width: 5px;
    padding-right: 4px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 4px;
  }


  