<div class="container">
  <!-- <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
      <p class="breadcrumb-p">> Customer List</p>
    </mat-card-actions>
    <mat-card-actions>
      <div class="middle">
        <mat-icon (click)="createCustomer()" color="primary"
          >add_circle</mat-icon
        >
      </div>
    </mat-card-actions>
  </mat-card> -->
<app-breadcrumb headerDetail="Customer List" [isAddButton]="false" [isPopup]="true" [akcja]="createCustomer" ></app-breadcrumb>

  <div class="">
    <mat-card>
      <div class="mat-card-header-filter">
        <h2>Customers</h2>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. customer"
            #input
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <mat-card-content>
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="customerName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customerNip">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef>Nip</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerNip }}
            </td>
          </ng-container>
          <ng-container matColumnDef="customerCity">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerCity }}
            </td>
          </ng-container>
          <ng-container matColumnDef="customerAddress">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerAddress }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a
                color="primary"
                mat-icon-button
                (click)="detailsCustomer(element.customerId)"
              >
                <mat-icon>info</mat-icon>
              </a>
              <a
                mat-icon-button
                (click)="deleteCustomer(element.customerId)"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
