<mat-sidenav-container >
    <section *transloco="let t">
        <nav>
            <a routerLink="/welcome">
                Fakturio
            </a>
            <div class="nav-links" id="navlinks" [ngClass]="{ hidemenu: hideMenu }">
                <ul>
                    <li><a routerLink="/welcome">
                            Home
                        </a></li>
                    <li><a routerLink="/about">
                            About
                        </a></li>
                        <li><a routerLink="/contact">
                            Contact
                        </a></li>
                    <li><a routerLink="/blog">
                            Blog
                        </a></li>
                </ul>
                <ul>
                    <!-- <app-language-selector></app-language-selector> -->
                    <li><a routerLink="/login" mat-button>
                            <mat-icon>lock</mat-icon>
                            {{ t("sidebar.login") }}
                        </a></li>
                    <li><a routerLink="/register" mat-button>
                            {{ t("sidebar.register") }}
                        </a></li>
                </ul>
            </div>
            <div class="nav-links2" id="navlinks" [ngClass]="{ hidemenu: hideMenu }">
                <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
                    <mat-icon class="hide-icon fa fa-times">highlight_off</mat-icon>
                </button>
                <ul>
                    <li><a routerLink="/welcome" (click)="HideMenu()">
                            Home
                        </a></li>
                    <li><a routerLink="/about" (click)="HideMenu()">
                            About
                        </a></li>
                    <li><a routerLink="/contact" (click)="HideMenu()">
                            Contact
                        </a></li>
                    <li><a routerLink="/blog" (click)="HideMenu()">
                            Blog
                        </a></li>
                    <li><a routerLink="/login" (click)="HideMenu()">
                            {{ t("sidebar.login") }}
                        </a></li>
                    <li><a routerLink="/register" (click)="HideMenu()">
                            {{ t("sidebar.register") }}
                        </a></li>
                </ul>
            </div>
            <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
                <mat-icon class="hide-icon fa fa-bars">reorder</mat-icon>
            </button>
        </nav>
        <router-outlet></router-outlet>
    </section>
</mat-sidenav-container>