<div class="container">
  <!-- <h1 class="breadcrumb-header">About us</h1>
  <hr />
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
      <p class="breadcrumb-p">/About</p>
    </mat-card-actions>
  </mat-card> -->
<app-breadcrumb headerDetail="About" [isAddButton]="false" ></app-breadcrumb>

  <mat-card>
    <mat-card-content style="margin-bottom: 5px">
      <h1>WHO WE ARE</h1>
    </mat-card-content>
    <mat-card-content style="margin-bottom: 40px">
      <p>
        <b>CompanyCompanion </b> is a powerful and easy-to-use application
        designed to help small businesses manage their daily operations with
        ease. With its intuitive interface and comprehensive features, this app
        simplifies the process of creating and managing invoices and storehouse
        magazines, enabling businesses to stay organized and focused on growth.
      </p>
    </mat-card-content>

    <mat-card-content style="margin-bottom: 40px">
      <div style="display: flex; margin: auto; flex-wrap: wrap">
        <div class="div-next-to">
          <p class="p-style">T</p>
          he invoicing feature of CompanyCompanion allows business owners to
          create and send professional invoices quickly and easily. Users can
          customize invoices with their branding and logos, set up recurring
          invoices, track payments, and generate reports to stay on top of their
          finances. The app also supports multiple currencies, making it ideal
          for businesses that operate internationally.
          <br />
        </div>
        <div class="div-next-to">
          <p class="p-style">T</p>
          he storehouse magazine management feature of CompanyCompanion allows
          businesses to manage their inventory efficiently. Business owners can
          track stock levels, monitor product movements, and generate reports to
          stay informed about their inventory status. The app also supports
          barcode scanning, enabling businesses to quickly and accurately manage
          their products.
          <br />
        </div>
        <div class="div-next-to">
          <p class="p-style">I</p>
          n addition to these features, CompanyCompanion offers exceptional
          customer support to ensure businesses can maximize their benefits from
          the app. Users can access support through various channels, including
          email, phone, and live chat.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content style="margin-bottom: 5px">
      <h1>WE ARE DIFFERENT THAN THE REST</h1>
    </mat-card-content>
    <mat-card-content>
      <p>
        CompanyCompanion is an excellent tool for small businesses looking to
        streamline their invoicing and storehouse magazine management processes.
        Its intuitive interface, comprehensive features, and excellent customer
        support make it an indispensable tool for businesses looking to simplify
        their operations and focus on growth.
      </p>
    </mat-card-content>
  </mat-card>
</div>
