<div class="container">
  <h1 class="breadcrumb-header">{{ pageTitle }}</h1>
  <hr>
  <mat-card class="breadcrumb">
    <mat-card-actions class="card">
      <div [routerLink]="['/']" class="middle">
        <mat-icon>home</mat-icon>
        <p class="breadcrumb-p">Home</p>
      </div>
      <p class="breadcrumb-p middle" [routerLink]="['/customer-list']">
        /Customers
      </p>
      <p class="breadcrumb-p">/Customer</p>
    </mat-card-actions>
    <mat-card-actions>
      <div class="middle">
        <mat-icon (click)="updateCustomer()" color="primary"
          >edit</mat-icon
        >
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-content class="customer-details">
      <h1 style="width: 100%">
        <b>{{ customerForm.value.customerName }}</b>
      </h1>
      <h3 style="width: 50%; border-bottom: 1px solid black;letter-spacing: 2px;">Customer data</h3>
      <div style="width: 50%"></div>
      <p>{{ customerForm.value.customerName }}</p>
      <p>{{ customerForm.value.customerNip }}</p>
      <p>{{ customerForm.value.customerCity }}, {{ customerForm.value.customerAddress }}</p>
      <h3 style="width: 50%;margin-top: 40px; border-bottom: 1px solid black;letter-spacing: 2px;">Customer invoices</h3>
      <div style="width: 50%"></div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. customer"
          #input
        />
      </mat-form-field>
      <div class="example-container mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="Invoice No">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Invoice number
            </th>
            <td mat-cell *matCellDef="let element">{{ element.invoiceNo }}</td>
          </ng-container>
          <ng-container matColumnDef="Customer">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="NetTotal">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>
              Netto total
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.netTotal | currency }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a
                mat-icon-button
                (click)="downloadInvoice(element.invoiceId)"
                color="primary"
              >
                <mat-icon>print</mat-icon>
              </a>
              <a
                mat-icon-button
                *ngIf="!element.isGenerated"
                (click)="editInvoice(element.invoiceId)"
                color="primary"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <a
                mat-icon-button
                (click)="removeInvoice(element.invoiceId)"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
