<div class="container" *transloco="let t">
  <app-breadcrumb header="Customers" link="/customer-list" headerDetail="> {{ customerForm.value.customerName }}"
    [isAddButton]="false"></app-breadcrumb>
  <mat-card style="width: 5%; min-width: 400px">
    <mat-card-content class="customer-details">
      <div>
        <h2>{{ t("customerTableHeader.customerDetailInfo") }}</h2>
        <app-tableactionbutton color="primary" icon="edit" (callParent)="updateCustomer()"
          style="position: absolute; right: 0; top: 0">
        </app-tableactionbutton>
      </div>
      <p>{{ customerForm.value.customerName }}</p>
      <p>{{ customerForm.value.customerNip }}</p>
      <p>{{ customerForm.value.customerCity }}</p>
      <p>{{ customerForm.value.customerAddress }}</p>
    </mat-card-content>
  </mat-card>
  <app-invoice-table  few="few" [isCustomer]="isCustomer" *ngIf="isCustomer !== undefined"></app-invoice-table>
</div>