<div class="auth-middle" *transloco="let t">
  <mat-card class="auth-card" data-aos="fade-up" data-aos-duration="3000">
    <mat-card-header class="auth-card-header">
      <h1 >
        {{ t("login.loginForm") }}
      </h1>
      <!-- <h2>
        {{t("login.loginSubTitle")}}
      </h2> -->
    </mat-card-header>
    <mat-card-content class="auth-card-content">
      <form class="form" [formGroup]="loginform" (ngSubmit)="proceedLogin()">
        <app-form-field [form]="loginform" [label]="t('login.username')" controlName="username" cssClass="full-width"
          type="text">
        </app-form-field>
        <app-form-field [form]="loginform" [label]="t('login.password')" controlName="password" cssClass="full-width"
          type="password">
        </app-form-field>
        <div class="form-submit">
          <button>{{t("login.loginButton")}}</button>
        </div>
      </form>
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <p style="margin-right: 5px"> {{t("login.member")}}</p>
        <a routerLink="/register" style="color: #116444; text-decoration: none">
          {{t("login.signUp")}}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>