<mat-card-content>
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.matColumnDef">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.matHeaderCellDef }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.matCellDef] }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let action of actionButtons">
            <app-tableactionbutton [color]="action.color" [icon]="action.icon" (callParent)="action.function(element)">
            </app-tableactionbutton>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-content>
    <!-- <mat-card *ngIf="
      dataSource.data.length === 0 &&
      dataSourceDelay.data.length === 0 &&
      dataSourceDraft.data.length === 0
    ">
    <mat-card-content style="
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
      ">
      <h2>Oto widok zbiorczej listy dokumentow wystawionych w systemie.</h2>
      <p>
        Na razie w tym miejscu nie ma jeszcze żadnych dokumentów. Ale nie martw
        się, nic straconego! To wspaniałe miejsce, gdzie możesz łatwo i szybko
        wystawić swoje pierwsze dokumenty!
        <br /><br />
        Dlatego zacznijmy! Kliknij przycisk "Nowa faktura" lub "Nowa proforma" i
        stwórz swój pierwszy dokument. Wystawiaj faktury, twórz proformy,
        dodawaj szkice - wszystko w jednym miejscu! Z naszą pomocą będziesz miał
        więcej czasu na rozwijanie swojego biznesu, a mniej czasu na ręczne
        wystawianie faktur.
      </p>
    </mat-card-content>
  </mat-card> -->