<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="displaymenu" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
      <a mat-list-item routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a mat-list-item routerLink="invoice-list" routerLinkActive="active" ariaCurrentWhenActive="page">Invoice list</a>
      <a mat-list-item routerLink="product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Product list</a>
      <a mat-list-item routerLink="user-list" routerLinkActive="active" ariaCurrentWhenActive="page">User list</a>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="displaymenu">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CompanyCompanion</span>
      
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- (click)="drawer.toggle()" -->
