<mat-sidenav-container *ngIf="displaymenu" class="sidenav-container mat-app-background"
  [ngClass]="{'darkMode':isDarkTheme}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="invoice-list" routerLinkActive="active" ariaCurrentWhenActive="page">Invoices</a>
      <a mat-list-item routerLink="proforma-list" routerLinkActive="active" ariaCurrentWhenActive="page">Proforma</a>
      <a mat-list-item routerLink="product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
      <a mat-list-item routerLink="user-list" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="cursor: pointer;" routerLink="">Company C</span>
      <span class="example-spacer"></span>
      <mat-slide-toggle [(ngModel)]="isDarkTheme">
        <mat-icon *ngIf="isDarkTheme">dark_mode</mat-icon>
        <mat-icon *ngIf="!isDarkTheme">light_mode</mat-icon>
      </mat-slide-toggle>
      <button routerLink="/about" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>question_mark</mat-icon>
      </button>
      <!-- <button routerLink="/welcome" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>bookmark</mat-icon>
      </button> -->
      <button (click)="clearLocal()" routerLink="/welcome" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<mat-sidenav-container *ngIf="!displaymenu" class="sidenav-container mat-app-background">
  <section class="">
    <nav style="background-image: linear-gradient(to right, #617055, #116444);">
      <a href="welcome">CompanyCompanion</a>
      <div class="nav-links" id="navlinks" [ngClass]="{'hidemenu':hideMenu}">
        <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
          <mat-icon class="hide-icon fa fa-times">power_settings_new</mat-icon>
        </button>
        <ul>
          <li><a href="/welcome">HOME</a></li>
          <!-- <li><a href="">ABOUT</a></li>
          <li><a href="">COURSE</a></li>
          <li><a href="">BLOG</a></li>
          <li><a href="">CONTACT</a></li> -->
          <li><a href="/login">LOGIN</a></li>
          <li><a href="/register">REGISTER</a></li>
        </ul>
      </div>
      <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
        <mat-icon class="hide-icon fa fa-bars">reorder</mat-icon>

      </button>
    </nav>
    <router-outlet></router-outlet>

  </section>
</mat-sidenav-container>