<mat-sidenav-container *ngIf="displaymenu" class="sidenav-container mat-app-background"
  [ngClass]="{ darkMode: isDarkTheme }">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="cursor: pointer" routerLink="">
      <h1 style="margin: 40px 0; font-weight: 700;">Fakturio</h1>
    </mat-toolbar>

    <mat-nav-list *transloco="let t">
      <ng-container *ngFor="let item of sidebarOptions">
        <a mat-list-item [routerLink]="item.routerLink" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="nav-list-elem">
          <div>
            <div class="nav-list-elem-middle">
              <mat-icon>{{ item.icon }}</mat-icon>
              <p>{{ t(item.translationKey) }}</p>
            </div>
          </div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content *transloco="let t">
    <mat-toolbar color="primary">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      <span class="example-spacer"></span>

      <app-language-selector style="margin-right: 20px;"></app-language-selector>

      <mat-icon (click)="toogleTheme()" *ngIf="isDarkTheme">dark_mode</mat-icon>
      <mat-icon (click)="toogleTheme()" *ngIf="!isDarkTheme">light_mode</mat-icon>
      <a [matMenuTriggerFor]="menu" class="hi-rocket">
        <mat-icon>rocket_launch</mat-icon>

        <p class="hi">
          {{ t("sidebar.welcome") }}
          , {{ username }}
        </p>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/about" class="example-icon favorite-icon">
          <mat-icon>question_mark</mat-icon>
          <span>{{ t("sidebar.about") }}</span>
        </button>
        <button mat-menu-item routerLink="/profile" class="example-icon favorite-icon">
          <mat-icon>manage_accounts</mat-icon>
          <span>{{ t("sidebar.profile") }}</span>
        </button>
        <button mat-menu-item (click)="clearLocal()" routerLink="/welcome" class="example-icon">
          <mat-icon>logout</mat-icon>
          <span>{{ t("sidebar.logout") }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container *ngIf="!displaymenu" class="sidenav-container mat-app-background">
  <section class="" *transloco="let t">
    <nav style="background-image: linear-gradient(to right, #617055, #116444)">
      <!-- <a href="welcome">Fakturio</a> -->
      <a href="/welcome" mat-button>
        <h1 style="color:#fff">Fakturio</h1>
      </a>
      <div class="nav-links" id="navlinks" [ngClass]="{ hidemenu: hideMenu }">
        <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
          <mat-icon class="hide-icon fa fa-times">power_settings_new</mat-icon>
        </button>
        <ul>
          <app-language-selector ></app-language-selector>
          <li><a href="/login" mat-button>
              <mat-icon>face</mat-icon>
              {{ t("sidebar.login") }}
            </a></li>
          <li><a href="/register" mat-button>
              <mat-icon>how_to_reg</mat-icon>
              {{ t("sidebar.register") }}
            </a></li>
        </ul>
      </div>
      <button (click)="HideMenu()" class="hide-icon" mat-icon-button>
        <mat-icon class="hide-icon fa fa-bars">reorder</mat-icon>
      </button>
    </nav>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>