.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.show {
  display: none;
  visibility: hidden;
}
.example-spacer {
  flex: 1 1 auto;
}

.nav-list-elem {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;

  .nav-list-elem-middle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 !important;
  }
  p {
    font-size: 18px;
    margin: 0 8px !important;
    padding: 0 !important;
  }
}

////////////////////////
/// 
mat-icon{
  cursor: pointer;
}