<div class="rightOptions">
  <div class="page" size="A4" id="content" #content>
    <div class="wrapper" *ngIf="editdata">
      <div class="one">Company Companion!</div>
      <div class="two">
        <p class="pborder">Miejsce wystawienia</p>
        <p>Warszawa</p>
        <p class="pborder">Data wystawienia</p>
        <p>03-03-2023</p>
        <p class="pborder">Data wykonania uslugi</p>
        <p>03-03-2023</p>
      </div>
      <div class="three">
        <p class="pborder">Sprzedawca</p>
        <p>Uslugi Informatyczne Jan Nowak</p>
        <p>NIP: 716464892</p>
        <p>Kowal 12</p>
        <p>00-001 Warszawa</p>
      </div>
      <div class="four">
        <p class="pborder">Nabywca</p>
        <p>Uslugi Informatyczne Jan Nowak</p>
        <p>NIP: 716464892</p>
        <p>Kowal 12</p>
        <p>00-001 Warszawa</p>
      </div>
      <div class="five">
        <p class="invoiceHeader">Faktura {{ editdata.invoiceNo }}</p>
      </div>
      <div class="six">
        <table>
          <thead>
            <tr>
              <th style="border-left:1px solid black">LP</th>
              <th >Nazwa towaru lub uslugi</th>
              <th >Jm.</th>
              <th >Ilosc</th>
              <th >Cena netto</th>
              <th >Warosc netto</th>
              <th >Stawka Vat</th>
              <th >Wartosc Vat</th>
              <th >Cena brutto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of editdata.products">
              <td style="border-left:1px solid black">1</td>
              <td >{{ item.productName }}</td>
              <td >{{ item.unit }}</td>
              <td >{{ item.qty }}</td>
              <td >{{ item.nettoPrice | currency }}</td>
              <td >{{ item.nettoPrice * item.qty | currency }}</td>
              <td >{{ item.vat / 100 | percent }}</td>
              <td >
                {{ (item.nettoPrice * item.qty * item.vat) / 100 | currency }}
              </td>
              <td >
                {{
                  (item.nettoPrice * item.qty * item.vat) / 100 +
                    item.nettoPrice * item.qty | currency
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="extra">
        <table style="float:right;">
          <thead>
            <tr>
              <th style="border-left:1px solid black">Razem</th>
              <th >X</th>
              <th >{{ totalNettoSum | currency }}</th>
              <th >{{ totalVatSum | currency }}</th>
              <th >{{ totalBruttoSum | currency }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of arrayGroupedProducts">
              <td style="border-left:1px solid black"></td>
              <td>{{ entry[0]/100 | percent }}</td>
              <td>{{ entry[1].nettoSum | currency }}</td>
              <td>{{ entry[1].vatSum | currency }}</td>
              <td>{{ entry[1].bruttoSum | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="seven">
        <div class="sideBySide">
          <p style="width: 140px">Sposob platnosc:</p>
          <p>Przelew</p>
        </div>
        <div class="sideBySide">
          <p style="width: 140px">Termin platnosc:</p>
          <p>05-03-2023</p>
        </div>
        <div class="sideBySide">
          <p style="width: 140px">Numer konta:</p>
          <p>49 1020 2892 2276 3005 0000 0000</p>
        </div>
      </div>
      <div class="eight">
        <div class="sideBySide">
          <p style="width: 140px">Do zaplaty</p>
          <p style="font-weight: bold">{{ totalBruttoSum | currency }}</p>
        </div>
        <div class="sideBySide">
          <p style="width: 60px">Slownie:</p>
          <p>Tysiac dwiescie czterdziesci dwa 10/100 PLN</p>
        </div>
      </div>
      <div class="nine">
        <div class="signature">
          <p>Podpis osoby upowaznionej do wystawienia</p>
        </div>
      </div>
      <div class="ten">
        <div class="signature">
          <p>Podpis osoby upowaznionej do odbioru</p>
        </div>
      </div>
    </div>
  </div>
  <div class="download">
    <a (click)="makePdf()" mat-raised-button color="primary">Download</a>
  </div>
</div>
