<div class="containerpopup">
  <mat-card>
    <mat-card-header>
      <h1><b>{{header}}</b></h1>
      <p>{{someInfo}}</p>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="callParentFunction()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>NIP</mat-label>
          <input matInput placeholder="NIP" formControlName="customerNip" />
          <mat-error *ngIf="form.get('customerNip')?.hasError('required')">Wymagane pole</mat-error>
          <mat-error *ngIf="form.get('customerNip')?.hasError('invalidNip')">NIP musi składać się z dokładnie 10 cyfr,
            bez spacji i znaków
            specjalnych</mat-error>
          <a mat-icon-button matSuffix color="primary" (click)="callGetRegon()">
            <mat-icon>search</mat-icon>
          </a>
        </mat-form-field>
        <app-form-field [form]="form" label="Name" controlName="customerName" cssClass="full-width"></app-form-field>
        <app-form-field [form]="form" label="City" controlName="customerCity" cssClass="full-width"></app-form-field>
        <app-form-field [form]="form" label="Address" controlName="customerAddress" cssClass="full-width">
        </app-form-field>

        <div class="form-submit">
          <button mat-raised-button color="primary">{{buttonName}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>