<div class="container" *transloco="let t">
  <app-breadcrumb header="Invices" headerDetail=" > Invoice" link="/invoice-list" [isAddButton]="false">
  </app-breadcrumb>
  <div>
    <mat-card-content style="padding: 10px 30px">
      <form [formGroup]="proformaForm" (ngSubmit)="saveProforma()">
        <div style="width: 100%">
          <app-form-field-select *ngIf="!editProformaId" [form]="proformaForm" [label]="t('proformaForm.isGenerated')"
            controlName="isGenerated" cssClass="full-width" [items]="issuedStatus"></app-form-field-select>
          <div style="display: flex">
            <app-form-field-select *ngIf="editProformaId && isTempProformaNumber" [form]="proformaForm"
              [label]="t('proformaForm.isGenerated')" controlName="isGenerated" cssClass="full-width"
              [items]="issuedStatus"></app-form-field-select>
            <h2 *ngIf="editProformaId" style="padding: 0; margin: 0">
              Faktura: {{ proformaNoIsEdit }}
            </h2>
          </div>
        </div>

        <!-- ////////////////// -->
        <mat-grid-list [cols]="breakpoint4" (window:resize)="onResize($event)" rowHeight="250px">
          <mat-grid-tile [colspan]="2">
            <div class="middlerows2">
              <mat-form-field appearance="outline" class="full-width">
                <mat-select (selectionChange)="CustomerChange($event)"
                  [placeholder]="customerHoldOnlyName != '' ? customerHoldOnlyName: 'Select or add new client'">
                  <mat-option>
                    <a style="width: 200px" (click)="createCustomer()" mat-raised-button color="primary">
                      <mat-icon color="#fff">add</mat-icon>
                      Add new client
                    </a>
                  </mat-option>
                  <!-- <mat-option disabled="true"> Client list: </mat-option> -->
                  <mat-option *ngFor="let item of getCustomer" [value]="item.customerId"
                    [disabled]="item.customerName == customerHoldOnlyName">
                    {{ item.customerName }}, {{ item.customerNip }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div style="
                  display: flex;
                  justify-content: space-between;
                  margin-right: 10px;
                  height: 130px;
                ">
                <h4 class="margin:0;padding:0" [innerHTML]="customerFullName"></h4>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="middlerows">
              <app-form-field-data-picker [form]="proformaForm" [label]="t('proformaForm.dateIssued')"
                controlName="dateIssued" cssClass="full-width"></app-form-field-data-picker>
              <app-form-field-data-picker [form]="proformaForm" [label]="t('proformaForm.invoiceDate')"
                controlName="invoiceDate" cssClass="full-width"></app-form-field-data-picker>
              <app-form-field-data-picker [form]="proformaForm" [label]="t('proformaForm.dueDate')" controlName="dueDate"
                cssClass="full-width"></app-form-field-data-picker>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="middlerows">
              <app-form-field [form]="proformaForm" [label]="t('proformaForm.placeOfIssue')" controlName="placeOfIssue"
                cssClass="full-width"></app-form-field>
              <app-form-field-select [form]="proformaForm" [label]="t('proformaForm.paymentStatus')"
                controlName="paymentStatus" cssClass="full-width" [items]="paymentStatus"></app-form-field-select>
              <app-form-field-select [form]="proformaForm" [label]="t('proformaForm.paymentType')"
                controlName="paymentType" cssClass="full-width" [items]="paymentType"></app-form-field-select>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- Table of products -->
<app-document-product-table [invoiceForm]="proformaForm" [editInvoiceId]="editProformaId"></app-document-product-table>



        <!-- Details -->
        <mat-grid-list [cols]="breakpoint2" (window:resize)="onResize($event)">
          <app-form-field [form]="proformaForm" [label]="t('proformaForm.accountNumber')" controlName="accountNumber"
          cssClass="full-width"></app-form-field>
          <app-form-field [form]="proformaForm" [label]="t('proformaForm.paymentDescription')" controlName="paymentDescription"
          cssClass="full-width"></app-form-field>
          <app-form-field [form]="proformaForm" [label]="t('proformaForm.remarks')" controlName="remarks"
          cssClass="full-width"></app-form-field>
        </mat-grid-list>

        <div class="form-submit">
          <button mat-raised-button color="primary">{{t('buttons.save')}}</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>