.text-box-section {
  min-height: 45vh;
  margin-top:50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.text-box {
  width: 80%;
  margin: auto;
  text-align: center;

  h1 {
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 100px;
    line-height: 1em;
    color: #19352d;
  }

  h2 {
    margin: auto;
    margin-bottom: 2%;
    font-weight: 500;
    font-size: 28px;
  }
}
.offer-section {
  min-height: 60vh;
  width: 100%;
  background-color: #0c3a30;
  display: flex;
  align-items: center;
}
.offer {
  width: 80%;
  margin: auto;
  text-align: center;

  h1 {
    font-size: 64px;
    font-weight: 500;
    color: #fff;
  }

  h2 {
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
  }
}
.row {
  margin-top: 4%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.offer-col {
  flex-basis: 27%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}

.offer-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .text-box-section {
    min-height: 30vh;

  }
  .text-box,
  .offer {
    margin-top: 10%;

    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 2%;
      margin-top: 5%;
    }
    h2 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 2%;
    }
  }
}

.testimonials-section {
  min-height: 50vh;
  width: 100%;
  // background-color: #fff;
  display: flex;
  align-items: center;
}
.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;

  h1 {
    font-weight: 500;
    margin-bottom: 2%;
    font-size: 64px;
    color: #19352d;
    line-height: 1em;
  }

  h2 {
    margin: auto;
    margin-bottom: 2%;
    font-weight: 500;
    font-size: 28px;
  }
}

.testimonials-col {
  flex-basis: 32%;
  border-radius: 10px;
  text-align: left;
  background: #fff;
  padding: 5%;
  cursor: pointer;
  display: flex;
  p {
    padding: 0;
  }

  h3 {
    margin-top: 4%;
    text-align: left;
  }
}
.testimonials-col:hover {
  background: #19352d  ;
  transition: 0.5s;
  color: #fff;
}
@media (max-width: 700px) {
  .testimonials-col {
    margin: 10px 0px;
  }

  .testimonials {
    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 2%;
      margin-top: 5%;
    }
    h2 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 2%;
    }
  }
}
.contact-section {
  min-height: 30vh;
  width: 100%;
  background-color: #0c3a30;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    font-weight: 700;
    font-size: 18px;
    padding: 0 38px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    background-color: #29594b;
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none;
    padding: 14px 22px;
  }

  a:hover {
    border: 1px solid black;
    color: black;
    background: transparent;
    transition: 1s;
    background-color: #fff;

  }
}
.contact {
  width: 60%;
  h1 {
    margin-top: 2%;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
  }

  h2 {
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
  }
}
@media (max-width: 700px) {
  .contact {
    width: 60%;
    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 2%;
      margin-top: 5%;
    }
    h2 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 2%;
    }
  }
  .contact-section {
    flex-direction: column;
  }
}
.footer-section {
  min-height: 30vh;
  width: 100%;
  // background-color: #0c3a30;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.footer {
  width: 80%;
  mat-card{
    padding: 40px;
    border-radius: 50px;
  }
  h1 {
    margin-top: 2%;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
  }

  h2 {
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    font-weight: 500;
    font-size: 28px;
    color: #fff;
  }
}
@media (max-width: 700px) {
  .footer {
    width: 60%;
    h1 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 2%;
      margin-top: 5%;
    }
    h2 {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 2%;
    }
  }
  .footer-section {
    flex-direction: column;
  }
}
