<section style="min-height: 40vh">
  <div class="text-box">
    <h1>Company Companion</h1>
    <p>
      Intuicyjna i łatwa w użyciu aplikacja zaprojektowana, aby pomóc małym
      firmom w łatwym zarządzaniu codziennymi operacjami. Dzięki intuicyjnemu
      interfejsowi i wszechstronnym funkcjom.<br />
      Ta aplikacja upraszcza proces tworzenia i zarządzania fakturami i
      magazynami, umożliwiając firmom pozostanie zorganizowanym i
      skoncentrowanym na rozwoju.
    </p>
    <a href="/register" class="hero-btn">Zarejestruj się!</a>
  </div>
</section>

<!-- campus -->
<section class="campus">
  <h1>Cechy systemu!</h1>
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, tenetur.</p> -->
  <div class="row">
    <div class="campus-col">
      <img src="../../../assets/images/Checklist.jpg" alt="imgggg" />
      <div class="layer">
        <h3>EFEKTYWNOŚĆ</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/Data_security_28.jpg" alt="imgggg" />
      <div class="layer">
        <h3>BEZPIECZEŃSTWO</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/Work_from_home3.jpg" alt="imgggg" />
      <div class="layer">
        <h3>DOSTEPNOSC</h3>
      </div>
    </div>
  </div>
</section>

<section class="course">
  <h1>Co oferujemy!</h1>
  <p>
    Wystawiaj faktury, kontroluj magazyn i zarządzaj swoim biznesem - wszystko w
    jednym miejscu!
  </p>
  <div class="row">
    <div class="course-col">
      <h3>Wystawianie faktur i ofert</h3>
      <p>
        Nasza aplikacja pozwala użytkownikom na szybkie i łatwe wystawianie
        faktur proform i ofert handlowych. Dzięki temu użytkownicy mogą zyskać
        na czasie i skupić się na innych ważnych zadaniach biznesowych.
        Aplikacja umożliwia dodawanie klientów, tworzenie szablonów faktur i
        ofert, a także automatyczne obliczanie kwot, podatków i rabatów.
      </p>
    </div>
    <div class="course-col">
      <h3>Zarządzanie magazynem</h3>
      <p>
        Nasza aplikacja oferuje również narzędzia do zarządzania magazynem i
        kontrolowania poziomów zapasów. Dzięki temu użytkownicy mogą szybko
        sprawdzić stan magazynowy, dodawać i usuwać produkty oraz tworzyć
        raporty związane z ich zapasami. Aplikacja umożliwia również tworzenie
        zamówień i śledzenie ich statusu.
      </p>
    </div>
    <div class="course-col">
      <h3>Bezpieczne logowanie i przechowywanie danych</h3>
      <p>
        Nasza aplikacja zapewnia bezpieczne logowanie i przechowywanie danych
        użytkowników. Wszystkie dane są przechowywane w chmurze, co oznacza, że
        ​​użytkownicy mogą mieć do nich dostęp z dowolnego miejsca na świecie.
        Aplikacja oferuje również funkcję backupu danych, dzięki czemu
        użytkownicy nie muszą się martwić o utratę ważnych informacji. Wszystkie
        połączenia z aplikacją są szyfrowane, co zapewnia bezpieczeństwo
        przesyłanych danych.
      </p>
    </div>
  </div>
</section>

<!-- testimonials -->
<section class="testimonials">
  <h1>Co mówią użytkownicy?</h1>
  <p>
    Dołącz do grona naszych zadowolonych klientów i wypróbuj CompanyCompanion
    już dziś!
  </p>
  <div class="row">
    <div class="testimonials-col">
      <!-- <img src="../../../assets/images//user1.jpg" alt=""> -->
      <div class="">
        <p>
          Nasza firma korzysta z CompanyCompanion od kilku miesięcy i jesteśmy
          bardzo zadowoleni. Wystawianie faktur jest teraz dużo łatwiejsze i
          szybsze, a kontrola magazynu nigdy nie była tak prosta. Polecamy!
        </p>
        <h3>Klient z branży meblowej</h3>
      </div>
    </div>
    <div class="testimonials-col">
      <!-- <img src="../../../assets/images//user1.jpg" alt=""> -->
      <div class="">
        <p>
          Zawsze miałem problemy z kontrolą płatności i fakturami.
          CompanyCompanion rozwiązał ten problem i pomógł mi zaoszczędzić czas i
          nerwy.
        </p>
        <h3>Klient z branży IT</h3>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <h4>O nas!</h4>
  <p>
    Jesteśmy zespołem doświadczonych specjalistów zajmujących się projektowaniem
    i tworzeniem aplikacji internetowych dla małych firm. Nasza misja polega na
    zapewnieniu naszym użytkownikom najlepszych i najprostszych w obsłudze
    narzędzi, które pomagają im w prowadzeniu ich biznesów. Nasza aplikacja
    CompanyCompanion została stworzona z myślą o właścicielach małych firm,
    którzy potrzebują łatwego i intuicyjnego sposobu na zarządzanie swoimi
    fakturami, ofertami i magazynami. Dążymy do zapewnienia naszym użytkownikom
    jak najlepszej obsługi i wsparcia w procesie korzystania z naszej aplikacji,
    aby ich praca była bardziej efektywna i przyjemniejsza.
  </p>
  <a mat-icon-button>
    <mat-icon>facebook</mat-icon>
  </a>
</section>
