<div class="" *transloco="let t">
<section  style="min-height: 40vh">
  <div class="text-box">
    <h1 > {{t("welcome.title")}}</h1>
    <!-- <p>
      Intuicyjna i łatwa w użyciu aplikacja zaprojektowana, aby pomóc małym
      firmom w łatwym zarządzaniu codziennymi operacjami. Dzięki intuicyjnemu
      interfejsowi i wszechstronnym funkcjom.<br />
      Ta aplikacja upraszcza proces tworzenia i zarządzania fakturami i
      magazynami, umożliwiając firmom pozostanie zorganizowanym i
      skoncentrowanym na rozwoju.
    </p> -->
    <p>
      {{t("welcome.subTitle")}}
    </p>
    <a href="/register" class="hero-btn" >{{t("welcome.register")}}</a>
  </div>
</section>

<!-- campus -->
<section class="campus" >
  <h1>{{t("welcome.systemFeatures")}}</h1>
  <div class="row">
    <div class="campus-col">
      <img src="../../../assets/images/Checklist.jpg" alt="imgggg" />
      <div class="layer">
        <h3>{{t("welcome.effectiveness")}}</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/Data_security_28.jpg" alt="imgggg" />
      <div class="layer">
        <h3>{{t("welcome.safety")}}</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/Work_from_home3.jpg" alt="imgggg" />
      <div class="layer">
        <h3>{{t("welcome.availability")}}</h3>
      </div>
    </div>
  </div>
</section>

<section class="course">
  <h1>{{t("welcome.offerHeader")}}</h1>
  <p>
    {{t("welcome.offerParam")}}
  </p>
  <div class="row">
    <div class="course-col">
      <h3>{{t("welcome.offerHeaderFirst")}}</h3>
      <p>
        {{t("welcome.offerParamFirst")}}
      </p>
    </div>
    <div class="course-col">
      <h3>{{t("welcome.offerHeaderSecond")}}</h3>
      <p>
        {{t("welcome.offerParamSecond")}}
      </p>
    </div>
    <div class="course-col">
      <h3>{{t("welcome.offerHeaderThird")}}</h3>
      <p>
        {{t("welcome.offerParamThird")}}
      </p>
    </div>
  </div>
</section>

<!-- testimonials -->
<section class="testimonials">
  <h1>{{t("welcome.userHeader")}}</h1>
  <p>
    {{t("welcome.userParam")}}
  </p>
  <div class="row">
    <div class="testimonials-col">
      <!-- <img src="../../../assets/images//user1.jpg" alt=""> -->
      <div class="">
        <p>
          {{t("welcome.userOpinionFirst")}}
        </p>
        <h3>{{t("welcome.userNameFirst")}}</h3>
      </div>
    </div>
    <div class="testimonials-col">
      <!-- <img src="../../../assets/images//user1.jpg" alt=""> -->
      <div class="">
        <p>
          {{t("welcome.userOpinionSecond")}}
        </p>
        <h3>{{t("welcome.userNameSecond")}}</h3>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <h4>{{t("welcome.aboutUsHeader")}}</h4>
  <p>
    {{t("welcome.aboutUsParam")}}
  </p>
  <a mat-icon-button>
    <mat-icon>facebook</mat-icon>
  </a>
</section>
</div>