<div style=" background-color: #edf1ee;" *transloco="let t">
    <app-header [title]="t('blog.blogTitle')" [subTitle]="t('blog.blogSubTitle')"></app-header>
    <section class="contact-section">
      <div class="contact-box">
        <div class="contact" data-aos="slide-right" data-aos-duration="3000">
          <img src="../../../assets/images/aboutus.jpg" alt="contact">
        </div>
        <div class="contact" data-aos="slide-left" data-aos-duration="3000">
          <h3>{{t('about.aboutUsTitle')}}</h3>
          <h1>{{t('about.discoverOurPassionTitle')}}</h1>
          <h2>{{t('about.ourAppDescription')}}</h2>
          <a routerLink="/about">{{t('about.learnMoreAboutUs')}}</a>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
  