<div class="container">

    <mat-card >
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="loginform" (ngSubmit)="ProceedLogin()">
                <mat-form-field class="full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Edd" formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <div class="form-submit">
                    <button mat-raised-button color="primary">Submit</button>
                    <a routerLink="/register" mat-raised-button color="accent">Go to register</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>
    